<link rel="stylesheet" href="/css/profile.css">

<div class="container">

<h1>Logged in successfully</h1>


    <h1>Welcome, <%= user.name %>!</h1>

<div id="logout">
    <a href="/users/sign-out">Sign Out</a>
</div>

</div>
    
   


